
@{
    ViewBag.Title = "ViewFilePath";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        html
        body {
            background-image: url('/export-map-share.png');
            background-size: 100% 100%;
            background-position: center center;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }

        canvas {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <canvas id="canvas"></canvas>
    <script>
    
        // close the connection when the move between pages
        window.onbeforeunload = function () {
            $.post("@Url.Action("CloseConnection")");
        };

        var IntervalTime = @Session["time"] * 1000
        var htmlCanvas = document.getElementById("canvas");
        htmlCanvas.width = window.innerWidth;
        htmlCanvas.height = window.innerHeight;
        var context = htmlCanvas.getContext("2d");

        var allCircle = [];

        // call getValuesFromXML and pass the return value to done function 
          myTimer = (function () {
              $.post("@Url.Action("GetValuesFromXML")").done(function (xml) {
                  // when return value of the func is 'nothing' maens that we finished reading the file and alret 'done'
                  if (xml == "nothing") {
                      alert("done!");
                      clearInterval(interval);
                  }
                  var xmlDoc = $.parseXML(xml);
                  $xml = $(xmlDoc);
                  // search lon and lat values in XML and normalizes them
                  Lon = ((parseFloat($xml.find("Lon").text())) + 180) * (htmlCanvas.width / 360);
                  Lat = ((parseFloat($xml.find("Lat").text())) + 90) * (htmlCanvas.height / 180);
                  Rudder = parseFloat($xml.find("Rudder").text());
                  Throttle = parseFloat($xml.find("Throttle").text());
                  // enter the new circle to the array
                  var locationPair = { x: Lon, y: Lat };
                  allCircle.push(locationPair);
                  // send the array to draw the path
                  drawPath(allCircle, context);


              });  
         });


        // set the time interval for the function to call my timer again
        var interval = setInterval(myTimer, IntervalTime);
        myTimer();

    </script>

</body>
</html>
